In [2]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [6]:
## Load the trained model,scaler,pickle,onehotencoder
model = load_model('model.h5')

#load the encoder and scaler
with open('one_hot_encoder_geo.pkl','rb') as file:
    one_hot_encoder_geo = pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

In [7]:
#Enter the input data
input_data = {
    'Credit_Score': 700,
    'Geography': 'France',
    'Gender':'Male',
    'Age': 40,
    'Tenure': 5,
    'Balance': 50000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 60000
}

In [9]:
input_df = pd.DataFrame([input_data])
input_df

   Credit_Score Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0           700    France   Male  ...          1               1            60000

[1 rows x 10 columns]

In [11]:
#One hot encode the geography
geo_encoded = one_hot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\bala2\OneDrive\Desktop\ANN Classification\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [14]:
#Label encode
input_df['Gender'] = label_encoder_gender.transform([input_df['Gender']])
input_df

c:\Users\bala2\OneDrive\Desktop\ANN Classification\venv\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

   Credit_Score Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0           700    France       1  ...          1               1            60000

[1 rows x 10 columns]

In [17]:
##Concatenate the encoded geography with the input dataframe
input_df = pd.concat([input_df.drop(['Geography'], axis=1), geo_encoded_df], axis=1)
input_df

   Credit_Score  Gender  ...  Geography_Germany  Geography_Spain
0           700       1  ...                0.0              0.0

[1 rows x 12 columns]

In [ ]:
# Get the correct column order from the scaler or training data
expected_columns = scaler.feature_names_in_  # If using sklearn >=1.0

# Reindex input_df to match the scaler's expected columns
input_df = input_df.reindex(columns=expected_columns)

# Now scale
input_scaled = scaler.transform(input_df)
input_scaled

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- Credit_Score
Feature names seen at fit time, yet now missing:
- CreditScore